@import url(normalize.css);
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap');


/* 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/*  ------------------ common ------------------ */

body{
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.hidden{
   display: none !important;
}

.pager{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -998em;
}


.pager ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pager ul:before{
    position: absolute;
    content: '';
    width: 12px;
    height: 101px;
    background: url(../images/main_icon_scroll.png);
    top: calc(100% + 50px);
    
}

.pager ul::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 101px;
    background: #fff;
    animation: goBottom 2s linear infinite;
    top: calc(100% + 50px);

}

@keyframes goBottom {
    0%{transform: translateY(0);}
    100%{transform: translateY(110%);}
}

.pager ul li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000;
}

section{
    position: relative;
}

.left_tt{
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%) rotate(270deg);
    text-transform: uppercase;
}

.sprite{
    background: url(../images/sprite_pc.png) no-repeat;
}
.category{
    display: flex;
    gap: 5px;
}

.web{
    padding: 3px 7px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    background: #fd7e14;
}

.mobile{
    padding: 3px 7px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    background: #28a745;
}

/*  ------------------ header ------------------ */

header{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    background: #fff;
}

header .logo{
    background: url(../images/logo.png)no-repeat 0 0 / 165px 75px;
    width: 165px;
    height: 75px;
    display: block;
    text-indent: -999em;
}

header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

header > div nav ul{
    display: flex;
    gap: 40px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}



/*  ------------------ intro_section ------------------ */

#intro_section{
    position: relative;
}


.intro_box{
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: #ccc;
}

.box_first h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 12px;
}

.box_first p,
.box_first+p{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;

}

.box_first+p{
    position: absolute;
    bottom: 76px;
    right: 0;
    font-weight: bold;
}

/*  ------------------ about_section ------------------ */
.about_box{
    display: flex;
    height: 504px;
}

.about_box > div{
    flex: 1;
}

.about_left img{
    height: 470px;
    border-radius: 20px;
}

.about_right{
    padding: 70px 0;

}

.about_right h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 65px;
}
.about_right .profile_info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: 'Roboto', sans-serif;
}

.about_right dt{
    font-size: 24px;
    text-transform: uppercase;
    width: 105px;
}

.about_right dd{
    font-size: 20px;
}

.about_right dl{
    display: flex;
    gap: 40px;
}


/*  ------------------ abilities_section ------------------ */
.abilities_box{
    display: flex;
    box-sizing: border-box;
    padding: 60px 0;
}

.abilities_box > div{
    flex: 1;
}

.abilities_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.abilities_box .abilities_left > p{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 18px;
}
.abilities_left ul{
    padding-left: 25px;
    margin-bottom: 50px;
}
.abilities_left li{
    list-style: circle;
    font-size: 17px;
}

.abilities_left li:not(:last-child){
    margin-bottom: 15px;   
}

.second_btn{
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 150px;
    height: 40px;
    border: 1px solid #2baab1;
    border-radius: 20px;
    background: #fff;
    color: #2baab1;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

.second_btn:hover{
    background: #2baab1;
    border: 1px solid transparent;
    color: #fff;
}

.abilities_right ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 6%;
}

.abilities_right li{
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}

.abilities_right li span:first-child{
    display: block;
    height: 106px;
    text-indent: -999em;
}

.abilities_right li div{
    width: 100%;
    text-align: center;
}

.abilities_right li div div{
    width: 100%;
    border-radius: 15px;
    background: #ccc;
    text-indent: -999em;
    margin-bottom: 10px;
    position: relative;
    
}

.abilities_right li div div:after{
    content: '';
    position: absolute;
    width: 60%;
    height: 100%;
    border-radius: 15px;
    background: #ea2323;
    left: 0;
    top: 0;
    transition: 0.5s;
}

.html span:first-child{
    width: 77px;   
}

.css span:first-child{
    width: 77px;
    background-position-x: -218px;
}

.js span:first-child{
    width: 77px;
    background-position-x: -109px;
}
.jquery span:first-child{
    width: 102px;
    background-position-x: -332px;
}
.vue span:first-child{
    width: 126px;
    background-position: -129px -147px;
}
.angular span:first-child{
    width: 99px;
    background-position-y: -147px;
}
.figma span:first-child{
    width: 108px;
    background-position-x: -604px;
}
.figma span:first-child{
    width: 108px;
    background-position-x: -604px;
}
.vscode span:first-child{
    width: 108px;
    background-position: -584px -147px;
}
.photoshop span:first-child{
    width: 108px;
    background-position: -709px -147px;
}
.github span:first-child{
    width: 107px;
    background-position-x: -462px;
}
.github span:first-child{
    width: 107px;
    background-position-x: -462px;
}
.nodejs span:first-child{
    width: 130px; 
    background-position: -435px -126px;
}

/*  ------------------ portfoilo_section ------------------ */
.portfoilo_box ul{
    display: flex;
    justify-content: space-between;
}
.portfoilo_box li{
    width: 270px;
    border-radius: 13px;
    box-shadow: 4px 12px 20px rgba(0,0,0,.18) ;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid #ccc;
}


.portfoilo_box li > a {
    height: 50%;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfoilo_box li > div{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0.8;
    color: #fff;
    position: relative;
}
.portfoilo_box li > div.hollys{
    background: #aa221c;
}

.portfoilo_box li > div.skt{
background: rgb(234,0,44);
}

.portfoilo_box li > div.ader{
background: #0001c8;
}

.portfoilo_box li > div a{
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    top: 150%;
    bottom: 0;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition:top 0.5s;
}
.portfoilo_box li:hover > div a{
    top: 50%;
}
.portfoilo_box li > div a i{
    margin-left: 5px;
    transform: translateY(1px);
}

.portfoilo_box li > div a:hover{
    color: red;
}

.portfoilo_box li h3{
    font-size: 20px;
}

.portfoilo_box li img{
    width: 180px;
}

.portfoilo_box li .caption_box{
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 14px;
}


/* ------------------ bottom svg position ------------------ */
footer{
    height: 200px !important;
}

.footer_box{
    display: flex;
    position: relative;
}

.footer_box > div{
    flex: 1;
}
.footer_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.footer_left p:first-child{
    font-size: 30px;
    font-weight: bold;
}

.footer_left p:last-child{
    font-size: 18px;
}
.footer_right{
    font-family: 'Roboto', sans-serif;
}
.footer_right fieldset{
    background: #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}
.footer_right fieldset legend{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    
}

.footer_right fieldset > p{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer_right fieldset label{
    font-size: 20px;
    text-transform: capitalize;
    display: inline-block;
}
.footer_right fieldset input{
    height: 25px;
    line-height: 25px;
}
.footer_right fieldset input,
.footer_right fieldset textarea{
    width: 300px;
    border-radius: 13px;
    text-indent: 13px;
}
.footer_right fieldset textarea{
    padding: 10px 0;
    box-sizing: border-box;
    resize: none;
}

.footer_right fieldset button{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 0 auto;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #fd7e14;
    color: #fd7e14;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;

}

.footer_right fieldset button:hover{
    background: #fd7e14;
    color: #fff;
}

.copyright{
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 16px;
}